/* Color Palette Docs https://www.color-hex.com/color-palette/25362 */
/* Icon ideas: https://www.flaticon.com/free-icon/network_3003026 */

/* $color0: #7289da;
$color1: #ffffff;
$color2: #99aab5;
$color3: #2c2f33;
$color4: #23272a; */

body {
  background-color: #23272a !important;
  color: #ffffff !important; }

button {
  background-color: #7289da; }

.main-section {
  display: flex;
  height: 100vh; /* Instead of using 100% all over, use viewport units once */
}

#sidebar {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 0.5px solid #99aab5;
}

#rightsight-pannel {
  flex: 4;
  padding-left: 1em;
  padding-right: 1em;
}

#input-area input{
  border: 2px solid #99aab5;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}

#input-area button{
  padding: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Posts */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.post {
  padding: 0.5em 0.5em 0.5em 1em;
  width: 70%;
  background-color: #7289da;
  border-radius: 5px;
  border-color: #99aab5;
  border-width: 1px;
  border-style: solid;
   /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.user {
  font-weight: bold;
}

.time {
  font-weight: lighter;
}