body {
  background-color: #23272a !important;
  color: #ffffff !important; }

button {
  background-color: #7289da; }

#login {
  background-color: #2c2f33;
  padding: 10px;
  margin: auto;
  border-radius: 30px;
  text-align: center; }