body {
  background-color: #23272a !important;
  color: #ffffff !important; }

#wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
}

/* Logo */
#logo-container {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

/* Media queries for small/large screens */
@media screen and ( max-width: 599px ) {
  #logo{ width: 300px; }
}
@media screen and ( min-width: 600px ) {
  #logo{ width: 500px; }
}
#logo {
  border-radius: 10px;
}


/* Content */
#content-container {
  padding: 5px;
}

form button {
  background-color: #7289da; 
  padding: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
}

input{
  border: 2px solid #99aab5;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}