/* Color Palette Docs https://www.color-hex.com/color-palette/25362 */
$color0: #7289da;
$color1: #ffffff;
$color2: #99aab5;
$color3: #2c2f33;
/* Icon ideas: https://www.flaticon.com/free-icon/network_3003026 */
